Cython>=0.25
BeautifulSoup>=3.2
wheel>=0.29
six>=1.10
nltk>=3.2
word2vec>=0.9.1
wget>=3.2
mechanize>=0.2.5
tensorflow==0.12.1
pyrsistent>=0.12.1
numpy>=1.12
scipy>=0.19
protobuf>=3.3
weave>=0.16
pymongo>=3.4.0
